<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>this is welcome page</h2>
    <p>Welcome to <%= title %></p>
    <p>LALALALlALA</p>
    <p>Aku sayang sekali . . . Dora eeeemooonnnn</p>
  </body>
</html>
