<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>this is welcome page</h2>
    <p>Welcome to <%= title %></p>
    <form action="">
      <input type="text" name="" id=""><br>
      <input type="password" name="" id="">
      <button type="submit">sign-in</button>
    </form>
  </body>
</html>
